extends ../layout

- var schools = !{JSON.stringify(schools)};

block content
    .card.col-md-8.col-md-offset-2
        .card-block
            h1.text-xs-center Manage School
            br
            if schools
                each school in schools
                    button.btn.btn-secondary.btn-lg.btn-block(type='button')= school.name
            else
                h3 
                    a(href='/createSchool') Create a school!
            
block footer
    script.
        var schools = !{JSON.stringify(schools)};
        console.log(schools);
        
        
