<div ng-controller="SearchController as sc">
    <md-autocomplete
        md-no-cache="true"
          md-selected-item="sc.selectedItem"
          md-search-text="sc.searchText"
          md-items="item in schools"
          md-item-text="item.name"
          md-min-length="0"
          placeholder="Enter you school name here"
            ng-keyup="sc.updateQuery(sc.searchText)">
        <md-item-template>
            <span md-highlight-text="sc.searchText" md-highlight-flags="^i">{{item.name}}</span>
        </md-item-template>
    </md-autocomplete>
    
</div>
