extends layout

block content
    if user
        h1 #{title}
        .card 
            .card-block
                h3.card-title Clock
                p#section  
                p#time  
                p#date  
                p#dayType  
                p#countdown 
        .card
            .card-block
                h3.card-title Events Right Now 
                #nowList
                  ul.list
        .card
            .card-block
                h3.card-title Upcoming Events
                #upcomingList
                  ul.list
    else
        h1 Welcome to Sundial...
        h3 
            a(href='/signup') Sign up now

                  
block dependences
    script(src='/static/javascripts/plugins/moment.js')
    script(src='/static/javascripts/plugins/moment-range.min.js')
    script(src='/static/javascripts/plugins/moment-recur.min.js')
    script(src='/static/javascripts/plugins/list.js')
    script(src='/static/javascripts/clock.js')
    script(src='/static/javascripts/events.js')
    
    script.
        var calendarFilepath = '/data/calendar.json'
        var _UI_IDs = {
            'time':'#time',
            'date':'#date',
            'dayType':'#dayType',
            'section':'#section',
            'countdown':'#countdown'
        }

    script(src='/static/javascripts/initializer.js')
