extends layout

block content
    .container
        h1 #{title}
        .panel.panel-default
            .panel-heading
                h3 Clock
            .panel-body
                p#section  
                p#time  
                p#date  
                p#dayType  
                p#countdown  
        .panel.panel-default
            .panel-heading
                h3 Events Right Now
            .panel-body
                #nowList
                  ul.list
        .panel.panel-default
            .panel-heading  
                h3 Upcoming Events
            .panel-body
                #upcomingList
                  ul.list
                  
block dependences
    script(src='/static/javascripts/plugins/jquery.min.js')
    script(src='/static/javascripts/plugins/moment.js')
    script(src='/static/javascripts/plugins/moment-range.min.js')
    script(src='/static/javascripts/plugins/moment-recur.min.js')
    script(src='/static/javascripts/plugins/list.js')
    script(src='/static/javascripts/clock.js')
    script(src='/static/javascripts/events.js')
    
    script.
        var calendarFilepath = '!{pageData.calendarFilepath}';
        var _UI_IDs = !{JSON.stringify(pageData._UI_IDs)}
    script(src='/static/javascripts/initializer.js')
