extends layout

block content
    .container(style='margin-top: 50px', ng-app='')
        if user
            if user.schoolAffiliation
                .card
                    .card-block
                        .card-title
                            h2 Schedules
                        h5 Add a new schedule by clicking <a href='/addSchedule/#{school.link}'>here.</a>
                script.
                    (function() {
                        var app = angular.module('createSchool', []);
                        
                        var MainController = function($scope){
                            
                        }
                        
                        app.controller('MainController',['$scope','MainController']);
                    }())
            else
                .card
                    .card-block
                        .card-title
                            h2 Welcome #{user.name}
                        h5 Create a new school by clicking <a href='/createSchool'>here.</a>
        else
            h1 Welcome to Sundial...
            h3 
                a(href='/signup') Sign up now
                
        
