extends layout

block content
    .container(style='margin-top: 50px', ng-app='home')
        if user
            if user.schoolAffiliation 
                h1 #{school.name}
                br
                .panel.panel-default(ng-controller='ScheduleController')
                    .panel-heading
                        h2.panel-title Schedules
                    .panel-body
                        ul.list-group(ng-show='hasSchedules', ng-repeat='schedule in schedules')
                            li.list-group-item 
                                {{schedule.name}}
                                span.label.label-default.label-pill.pull-xs-right {{schedule.sections.length}}
                        br
                        p(ng-hide='hasSchedules') No schedules currently added.
                        h5 Add a new schedule by clicking <a href='/addSchedule/#{school.link}'>here.</a>
                        
                br
                .panel.panel-default(ng-controller='CalendarController')
                    .panel-heading
                        h2.panel-title Calendar items
                    .panel-body
                        h3 Body
                link(href='/bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css', rel='stylesheet')
                script(src='/bower_components/angular/angular-animate.min.js')
                script(src='/bower_components/angular/angular-touch.min.js')
                script(src='/bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.js')
                script.
                    (function() {
                        var school = !{JSON.stringify(school)};
                        console.log(school);
                        
                        var app = angular.module('home', ['mwl.calendar','ngAnimate','ngTouch','ui.bootstrap']);
                        
                        var ScheduleController = function($scope) {
                            $scope.schedules = school.schedules;
                            $scope.hasSchedules = $scope.schedules.length > 0;
                            console.log($scope.hasSchedules);
                        };  
                        var CalendarController = function($scope) {
                            
                        };
                        
                        app.controller('ScheduleController',['$scope',ScheduleController]);
                        app.controller('CalendarController', ['$scope', CalendarController]);
                        
                    }());
            else
                .card
                    .card-block
                        .card-title
                            h2 Welcome #{user.name}
                        h5 Create a new school by clicking <a href='/createSchool'>here.</a>
        else
            h1 Welcome to Sundial...
            h3 
                a(href='/signup') Sign up now
                
        
