doctype html
html
    head
        title= title
        link(rel='stylesheet', type='text/css', href='/static/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='/static/stylesheets/bootstrap-theme.min.css')
    body
        block content
    footer
        block dependences
