doctype html
html
<<<<<<< HEAD
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
=======

  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

>>>>>>> 1b165579544b3db40285eca6c5cc04d0d0a1fd06
  body
    block content
