doctype html
html
    head
        title Docqet
        link(rel='stylesheet', type='text/css', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='/bower_components/animate.css/animate.css')
        link(rel='stylesheet', type='text/css', href='/static/stylesheets/tether.min.css')
        link(rel='stylesheet', type='text/css', href='/static/stylesheets/style.css')
        link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
        
        script(src='/bower_components/angular/angular.min.js')
        script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
        script(src='/bower_components/underscore/underscore.js')
        script(src='/static/javascripts/plugins/jquery.min.js')
        script(src='/bower_components/moment/moment.js')
        script(src='/static/javascripts/plugins/tether.min.js')
        script(src='/static/javascripts/plugins/bootstrap.min.js')

    body
        nav.navbar.navbar-fixed-top.navbar-inverse
            .container-fluid
                .navbar-header
                    a.navbar-brand(href='#') Docqet
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li
                            a(href='/') Home 

                    ul.nav.navbar-nav.navbar-right
                        if user 
                            li
                                .btn-group
                                    button.btn.btn-link.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                        | #{user.name} 
                                    ul.dropdown-menu
                                        li
                                            a(href='/settings') Settings
                                        li.divider(role='separator')
                                        li
                                            a(href='/logout') Logout
                        else
                            li
                                a(href='Login') Login
        block content
                
            
