doctype html
html
    head
        title Docqet
        link(rel='stylesheet', type='text/css', href='/lib/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='/lib/animate\.css/animate.min.css')
        link(rel='stylesheet', type='text/css', href='/lib/tether/dist/css/tether.min.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/lib/components-font-awesome/css/font-awesome.min.css')
        
        script(src='/js/angular/angular.min.js')
        script(src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
        script(src='/lib/underscore/underscore-min.js')
        script(src='/lib/jquery/dist/jquery.min.js')
        script(src='/lib/moment/min/moment.min.js')
        script(src='/lib/tether/dist/js/tether.min.js')
        script(src='/lib/bootstrap/dist/js/bootstrap.min.js')

    body
        nav.navbar.navbar-fixed-top.navbar-inverse
            .container-fluid
                .navbar-header
                    a.navbar-brand(href='#') Docqet
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li
                            a(href='/') Home 

                    ul.nav.navbar-nav.navbar-right
                        if user 
                            li
                                .btn-group
                                    button.btn.btn-link.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                        | #{user.name} 
                                    ul.dropdown-menu
                                        li
                                            a(href='/settings') Settings
                                        li.divider(role='separator')
                                        li
                                            a(href='/logout') Logout
                        else
                            li
                                a(href='Login') Login
        block content
                
            
