html
    head
        link(rel='stylesheet', type='text/css', href='/static/stylesheets/bootstrap.min.css')
        body
            .container
                h1 School Regisration
                form(action='/regisration/submit', method='post').form-horizontal
                    .form-group
                        input.form-control(type='text', name='schoolName', placeholder='school name')
                    .form-group
                        input.form-control(type='text', name='adminName', placeholder='admin name')
                    .form-group
                        input.form-control(type='text', name='adminPassword', placeholder='admin password')
                    button.btn.btn-default(type='submit') Submit
